body {
    margin: 0%;
}

.main-container {
    padding: 0% !important;
}
/* Header Section */
#header {
    height: 70vh;
    background: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
    z-index: -1;
    position: relative;
}
.header-img {
    /* background-color: white; */
    background-image: url('logo.png');
    /* background-position-y: 20% !important; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    z-index: 1;
    clip-path: circle(20%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 2%;
}
.add {
    position: absolute;
    bottom: 10%;
    left: 47%;
    z-index: 1;
  }
/* About Section */

#about {
    z-index: 1;
    background-color: white;
}

.about {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
   padding: 5%;
    z-index: 1;
    bottom: 0%;
    width: 100%;
}

.about-info {
    width: 50%;
    text-align: center;
    padding: 1% 5%;
    border-left: 2px solid #AA076B;

}

.about-title {
    padding: 1% 1% 8% 1%;
    font-family: 'Raleway';
    font-size: 5rem;
}

.about-text {
    padding: 5% 1%;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: .2rem;
    font-family: 'Abhaya Libre', serif;
}

.about-phone {
    padding: 1% 5%;
    border-left: 2px solid #AA076B;
    border-right: 2px solid #AA076B;

}
/* Team Section */

#team {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
    color: white;

}

.team-title {
    padding: 1% 1% 8% 1%;
    font-family: 'Raleway';
    font-size: 5rem;
    text-align: center;
}

.team-group {
    display: flex;
    justify-content: space-evenly;
}

.team-ind {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 3rem;
    font-family: 'Raleway';
}


.team-social {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    padding: 10%;
    font-size: 5rem;
    color: white;
}

.icon h3 {
    text-transform: uppercase;
    font-size: 1rem;
}
.team-social a {
    text-decoration: none;

}

/* Services Section */

#services {
    display: flex;
    flex-direction: column;
    padding: 5%;
}


.services-title {
    padding: 1% 1% 0% 1%;
    font-family: 'Raleway';
    font-size: 5rem;
    text-align: center;
}
.services-subtitle {
    padding: 0% 1% 8% 1%;
    font-family: 'Raleway';
    font-size: 2.5rem;
    text-align: center;
}

.services-info-group {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
}

.dropdown {
    color: black;
}


/* Contact Section */

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2%;
    color: white;
    background: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);

}
.contact-title {
    padding: 1% 1% 0% 1%;
    font-family: 'Raleway';
    font-size: 4.5rem;
    text-align: center;
}


.download {
    margin: 10%;
    background-color: white; 
}
.contact-icon {
    padding: 10%;
    font-size: 5rem;
    text-decoration: none;
    color: white;
}

.contact-download {
    text-align: center;
}

/* Footer */


footer {
    background-color: white;
    color: black;
    font-family: 'Abhaya Libre', serif;
    position: relative;
  }
  
  .footer-link-group {
    display: flex;
    justify-content: center;
  }
  
  .footer-link {
    text-decoration: none;
    color: black;
  }
  
  .footer-links {
    padding: .5%;
    text-decoration: none;
    list-style: none;
  }